.upload-area {
    border: 2px dashed rgba(160, 160, 160, 0.534);
    border-radius: 10px;
    height: 300px;
    width: 100%;
    margin: auto;
    color: gainsboro;
    transition: all 0.1s;
    cursor: pointer;
}

.upload-area fa-icon {
    font-size: 80px;
    filter: drop-shadow(3px 0px 1px rgba(0, 0, 0, 0.468));
    transition: all 0.1s;
}

.upload-area:hover {
    border-color: rgba(0, 0, 0, 0.757);
    color: rgb(3, 133, 180);
}

.upload-list{
    inset: 0;
    left: 10px;
    bottom: 10px;
    overflow-y: scroll;
}