<div class="widget-container d-flex">
    <div class="widget">
        <div class="icon blue">
            <fa-icon [icon]="locationIcon"></fa-icon>
        </div>
        <div class="value">
            <div class="top">32</div>
            <div class="bottom">Locations</div>
        </div>
    </div>
    <div class="widget">
        <div class="icon red">
            <fa-icon [icon]="boxesIcon"></fa-icon>
        </div>
        <div class="value">
            <div class="top">32</div>
            <div class="bottom">Locations</div>
        </div>
    </div>
    <div class="widget">
        <div class="icon green">
            <fa-icon [icon]="poundIcon"></fa-icon>
        </div>
        <div class="value">
            <div class="top">32</div>
            <div class="bottom">Locations</div>
        </div>
    </div>
    <div class="widget">
        <div class="icon yellow">
            <fa-icon [icon]="userIcon"></fa-icon>
        </div>
        <div class="value">
            <div class="top">32</div>
            <div class="bottom">Locations</div>
        </div>
    </div>
</div>