header{
    background-color: rgb(249 209 84 / 57%);
}
header .row{
    height: 55vh;
    align-items: center;
    color: var(--fontcolor);
}
header .row img{
    border-radius: 10px;
}
h1{
    font-size: 58px;
    font-family: fangsong;
    font-weight: 800;
    width: 50%;
}
p{
    font-size: 18px;
}
.btn{
    background-color: orange;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 16px;
    text-transform: capitalize;
    border: 2px solid black;
    margin: 0 6px;
}
