footer{
    /* margin-top:auto ; */
    padding: 50px 0;
    font-family: 'Poppins', sans-serif;
    text-align: center ;
    color: var(--fontcolor);
    background-color: var(--mode);
}
a
{
    text-decoration: none;
    color: var(--fontcolor);
}
.heading{
    font-family: 'Nunito', sans-serif;
}
.heading h4{
    font-size: 23px;
    font-weight: 700;
    right: 23px;
    color: var(--fontcolor);
}
.support li , .support a{
    color: var(--fontcolor);
    transition: all 0.5s;
}
.support a{
    padding-left: 4px;
    transition: all 0.5s;
}
.google-map{
    height: 100%;
}
.social-links a{
    font-size: 29px;
    transition: all 0.5s;
    padding: 0 10px;
    color: var(--fontcolor);
}
.about li{
    text-align: left;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 8px;
}
.copyright a{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}
ul
{
    list-style: none;
    padding: 0;
}