<div class="modal align-items-center bg-black" [style.display]="product?'block':'none'">
  <div class="modal-dialog w-100">
    <div class="modal-content ">

      <div class="modal-header">

        <!--Name/Category-->
        <h5 class="modal-title">{{product.name}} / {{product.category_Id.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

      </div>

      <div class="modal-body  p-0">
        <!--Image-->
        <div class="img-container" (mousemove)="move($event)" (mouseleave)="hide()"
          *ngFor="let image of product.images">

          <img title="product-img" [src]="getImageUrl(image)">

          <div class="position-absolute img-overlay" *ngIf="mouseVisible"></div>

          <app-magnifire [x_axis]="X" [y_axis]="Y" [mouseInside]="mouseVisible" [bck_X]="backgroundX"
            [bck_Y]="backgroundY" [image]="getImageUrl(image)"></app-magnifire>

        </div>
        <!--Details-->
        <p>
          {{product.details}}
        </p>

      </div>
    </div>
  </div>
</div>