<div class="card" (click)="  showDetails (productItem.id)" >
  <div class="card-img">
    <img [src]="productItem.Image" class="card-img-top" alt="...">
    <span class="avalability" [style]="productItem.QTY|stocking|fontcolor">{{productItem.QTY|stocking}}</span>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{productItem.name}}</h5>
    
    <p class="card-text">{{productItem.Category}}</p>
    <span id="prod-price">{{productItem.Price}} EGP</span>
    <a class="btn addtocart" (click)="addtocart($event)">Add To Cart</a>
  </div>
</div>