<div class="card" (click)="  showDetails (productItem.id)" >
  <div class="card-img">
    <img [src]="productItem.images[0]" class="card-img-top" alt="...">
    <span class="avalability" [style]="productItem.stock|stocking|fontcolor">{{productItem.stock|stocking}}</span>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{productItem.title}}</h5>
    
    <p class="card-text">{{productItem.brand}}</p>
    <span id="prod-price">{{productItem.price}} EGP</span>
    <a class="btn addtocart" (click)="addtocart($event)">Add To Cart</a>
  </div>
</div>