.avail-colors {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    display: block;
    border: 1px solid black;
}

.categories , .products{
    height: 700px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.359);
}

.categories .nodata , .products .nodata{
    filter: brightness(0) saturate(1) drop-shadow(0px 0px 1px black) contrast(0);
}

.categories .msg , .products .msg{
    bottom: 0;
    text-transform: capitalize;
    user-select: none;
    right: 0;
    left: 0;
    color: gray;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.511);
}
.products .msg{
    bottom: 0;
}

.offer {
    right: -97px;
    left: 0;
    text-align: center;
    top: 14px;
    /* height: fit-content; */
    transform: rotate(45deg);
    /* bottom: 0; */
    background: #b30000;
    color: white;
}
.category-list{
    width: 40%;
}
.product-list{
    width:60%
}