.active , .active-link
{
    color: orange;


}
#logo
{
    margin-left: 6px;
    width: 80px;
}
#navbarNav
{
    display: flex;
    justify-content: space-between;
}
.navbar
{
    width: 100%;
    z-index: 500;
}
.nav-item:last-child
{
    position: relative;
}
fa-icon
{
    font-size: 20px;
}
.productcount
{
    font-size: 12px;
    padding: 0 5px;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
}