<div class="products bg-light">
    <!--If there is no category to display then show this div-->
    <div class="d-flex flex-column justify-content-center align-items-center position-relative"
        *ngIf="allPrds.length == 0">

        <img title="productNotFoundImg" class="nodata" src="/assets/Product Not Found.png">

        <h4 class="text-center msg mt-0 position-absolute">There is no products to be displayed</h4>

    </div>

    <!---->
    <div class="h-100 overflow-hidden" *ngIf="allPrds.length > 0">

        <h1 class="fw-light m-0 border-bottom text-center p-2 title">Products</h1>

        <div class="overflow-y-scroll h-100">
            <ul class=" h-100 m-0" style="padding: 0 10px 60px 10px;">

                <li class="d-flex align-items-center justify-content-between border-bottom my-1 position-relative"
                    *ngFor="let product of allPrds;let carouselIndex=index">
    
                    <div class="w-25">
                        <div [id]="'carouselExampleFade' + carouselIndex" class="carousel slide carousel-fade"
                            *ngIf="product.images.length > 1">
    
                            <div class="carousel-inner px-3">
    
                                <div class="carousel-item prd-img active"
                                    *ngFor="let image of product.images; let isFirst = first"
                                    [class.active]="isFirst">
    
                                    <img title="categoryImg" [src]='getImageUrl(image)'>
    
                                </div>
    
                                <div *ngIf="product.offer.valueOf() > 0">
                                    <span class="position-absolute offer">
                                        {{product.offer.valueOf()*100}}%
                                    </span>
                                </div>
    
                            </div>
    
                            <button title="prevBtn" class="text-black carousel-control-prev" type="button"
                                [attr.data-bs-target]="'#carouselExampleFade' + carouselIndex"
                                data-bs-slide="prev">
    
                                <fa-icon [icon]="leftChevronIcon"></fa-icon>
    
                            </button>
    
                            <button title="nextBtn" class="text-black carousel-control-next" type="button"
                                [attr.data-bs-target]="'#carouselExampleFade' + carouselIndex"
                                data-bs-slide="next">
    
                                <fa-icon [icon]="rightChevronIcon"></fa-icon>
    
                            </button>
    
                        </div>
    
                        <div class="position-relative overflow-hidden px-3" *ngIf="product.images.length == 1">
                            <div class="prd-img">
                                <img title="productImage" [src]='getImageUrl(product.images[0])'>
                            </div>
    
                            <div *ngIf="product.offer.valueOf() > 0">
                                <span class="position-absolute offer">{{product.offer.valueOf()*100}}%</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-inf">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="fs-4 prd-name">{{product.name}} / {{product.category_Id.name}}</span>
                            <span class="fs-6 fw-bold prd-price">{{product.price}} EGP</span>
                        </div>
    
                        <span class="fw-light">Qty: {{product.quantity}} Piece</span>
                        <ul class="list-unstyled d-flex mt-2">
                            <li class="me-1" *ngFor="let color of product.colors">
                                <span [style.background]="color" class="avail-colors"></span>
                            </li>
                        </ul>
                    </div>
    
                    <div class="d-flex position-absolute bottom-0 end-0 mb-3">
                        <button title="infoBtn" class="btn inf-btn me-2"><fa-icon
                                [icon]="infoIcon"></fa-icon></button>
    
                        <button title="deleteBtn" class="btn dlt-btn me-2" (click)="DeleteProduct(product._id)"><fa-icon
                                [icon]="trashIcon"></fa-icon></button>
    
                        <button title="editBtn" class="btn edt-btn"><fa-icon [icon]="penIcon"></fa-icon></button>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>

<button (click)="NavigateToAddProduct()" class="mt-2 btn add-btn w-100">Add Product</button>
