<div class="container">
    <div class="row">
        <div class="col-xl-6 p-0 hungerimg order-2">
            <svg width="500" height="680">
                <circle cx="250" cy="340" [attr.r]="radius" stroke="black" stroke-width="0" fill="rgb(252, 219, 135)">
                    <text x="0" y="15" fill="red">I love SVG!</text>
                </circle>
                <text x="50%" y="50%" font-family="Arial, Helvetica, sans-serif" [attr.font-size]="size" text-anchor="middle" stroke="white" fill="purple" stroke-width="0.2"   dy=".3em">{{word}}</text>
            </svg>
            <!-- <span class="adver">Are you Hungary</span> -->
        </div>
        <div class="col-xl-6 p-0 order-1">
            <form action="#" #loginForm="ngForm" (ngSubmit)="loginIn(loginForm)" >
                <fieldset>
                    <legend>Log In</legend>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" type="email" id="email" name="email" ngModel (blur)="checkval($event)" pattern=".+@.+\.com" (click)="overfield($event)" #email="ngModel" required="true">
                        
                        <div id="emailHelp" class="form-text error-msg" *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].invalid">
                            <span *ngIf="email?.errors?.['required']"><fa-icon [icon]="errorSign" title="Reqiured"></fa-icon></span>
                            <span *ngIf="email?.errors?.['pattern']"><fa-icon [icon]="errorSign" title="It should be like username@example.com"></fa-icon></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pass">password</label>
                        <input class="form-control" type="password" id="pass" name="pass" ngModel (blur)="checkval($event)" (click)="overfield($event)" #password="ngModel" required="true">

                        <div id="passHelp" class="form-text error-msg" *ngIf="loginForm.controls['pass'].touched && loginForm.controls['pass'].invalid">
                            <span *ngIf="password?.errors?.['required']"><fa-icon [icon]="errorSign" title="Reqiured"></fa-icon></span>
                            <span *ngIf="password?.errors?.['pattern']"><fa-icon [icon]="errorSign" title="It should contain [a-z], [A-z], [0-9], and [!$%@] characters"></fa-icon></span>
                            <span *ngIf="password?.errors?.['minlength']"><fa-icon [icon]="errorSign" title="Minimum length is 8"></fa-icon></span>
                        </div>
                    </div>
                    <input class="btn " type="submit" value="Submit" [disabled]="loginForm.invalid">
                </fieldset>
            </form>
        </div>
       
    </div>
</div>