.reset-password{
    background-image: url('../../assets/Images/ForgetPass.png');
    height: 500px;
    background-position: bottom;
    background-size: contain;
    image-rendering: pixelated;
    position: relative;
    background-repeat: no-repeat;
    z-index: 1;
}
.reset-password::after{
    content: "";
    inset: 0;
    backdrop-filter: blur(3px);
    position: absolute;
    z-index: -1;
}
.reset-password .box{
    width: 500px;
    border-radius: 30px;
    background-color: rgb(110 109 109 / 62%);
    backdrop-filter: blur(px);
    border: 1px solid #ffffff5c;
}
.reset-password h1{
    color: white;
    font-weight: 300;
    font-size: 44px;
    border-bottom: 1px solid #ffffff59;
}
.form-control{
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.302);
}
.reset-password p{
    color: white;
    margin: 22px 0;
    font-weight: 500;
    font-size: 18px;
}
.reset-password form{
    margin-top: 50px;
}
.error-msg{
    display: flex;
    position: absolute;
    top: 0;
    bottom:0;
    right: 10px;
    background: transparent;
    align-items: center;
    color: #d50909;
    font-size: 25px;
    font-weight: 500;
}