.pp{
    background-image: url('../../assets/Images/ForgetPass.png');
    height: 500px;
    background-position: bottom;
    background-size: contain;
    image-rendering: pixelated;
    position: relative;
    background-repeat: no-repeat;
    z-index: 1;
}
.pp::after{
    content: "";
    inset: 0;
    backdrop-filter: blur(3px);
    position: absolute;
    z-index: -1;
}
.pp .kk{
    width: 500px;
    border-radius: 30px;
    background-color: rgb(110 109 109 / 62%);
    backdrop-filter: blur(px);
    border: 1px solid #ffffff5c;
}
.pp h1{
    color: white;
    font-weight: 300;
    font-size: 44px;
    border-bottom: 1px solid #ffffff59;
}
.dd::after{
    content: "\f003";
    font-family: FontAwesome;
    color: #000000ce;
    top: 0;
    display: flex;
    align-items: center;
    font-size: 21px;
    padding-right: 0.5em;
    position: absolute;
    border-right: 0.5px solid rgba(0, 0, 0, 0.21);
    left: 10px;
    bottom: 0;
}
.form-control{
    padding-left: 50px;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.302);
}
.pp p{
    color: white;
    margin: 22px 0;
    font-weight: 500;
    font-size: 18px;
}
.pp form{
    margin-top: 50px;
}
.pp .btn{
    background: #056870;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
}