<div class="container">
    <div class="row  rounded-4 overflow-hidden bg-light position-relative">
        <div class="col-xl-8 opened">
            <h1>Sign Up</h1>
            <form>
                <input class="form-control" type="text" placeholder="Full Name">
                <input class="form-control" type="text" placeholder="Full Name">
                <input class="form-control" type="text" placeholder="Full Name">
                <input class="form-control" type="text" placeholder="Full Name">
                <input class="form-control" type="text" placeholder="Full Name">

            </form>
        </div>
        <div class="col-xl-4 closed">
            <h1>Already have account, so click on the  button.</h1>
            <button>Sign In</button>
            <img class="signin-img" src="../../../assets/Images/img1.jpg">
        </div>
    </div>
</div>