<div class="container p-5">
    <div class="row overflow-hidden rounded-4" style="flex-wrap: nowrap;background-color: var(--fontcolor); color: var(--mode);">
        <div class="overflow-hidden" [@openedwindow]='state'>
            <div class="row rounded-4 position-relative" id="signup-window">
                <div class="col-xl-8  py-5 px-4 ">
                    <div class="title">
                        <h1 class="m-0">Sign Up</h1>
                    </div>
                    <form  [formGroup]="signUpForm" (ngSubmit)='register()'>
                        <div class="mb-4 position-relative">
                            <input class="form-control rounded-5" type="text" formControlName="name" placeholder="User Name">
                            <div id="nameHelp" class="form-text position-absolute error-msg m-0" 
                            *ngIf="signUpForm.controls['name'].touched && signUpForm.controls['name'].invalid">
                                <span *ngIf="signUpForm.controls['name']?.errors?.['required']">
                                    <fa-icon [icon]="errorSign" title="Reqiured"></fa-icon>
                                </span>
                            </div>
                        </div>
                        <div class="mb-4 position-relative">
                            <input class="form-control rounded-5" type="email" formControlName="email" placeholder="Email">
                            <div id="emailHelp" class="form-text position-absolute error-msg m-0" 
                            *ngIf="signUpForm.controls['email'].touched && signUpForm.controls['email'].invalid" >
                                <span  *ngIf="signUpForm.controls['email']?.errors?.['required']" >
                                    <fa-icon [icon]="errorSign" title="Reqiured"></fa-icon>
                                </span>
                                <span  *ngIf="signUpForm.controls['email']?.errors?.['email']">
                                    <fa-icon [icon]="errorSign" title="It should be like username@example.com"></fa-icon>
                                </span>
                            </div>
                        </div>
                        <!-- <div class="mb-4 position-relative">
                            <input class="form-control rounded-5 px-5" type="text" formControlName="phoneNumber" placeholder="Phone Number">
                            <span class="position-absolute top-0 bottom-0 d-flex align-items-center px-2  " style="border-right: 0.5px solid rgba(0, 0, 0, 0.142);">+20</span>
                            <div id="emailHelp" class="form-text error-msg m-0" 
                            *ngIf="signUpForm.controls['phoneNumber'].touched && signUpForm.controls['phoneNumber'].invalid" >
                                <span *ngIf="signUpForm.controls['phoneNumber']?.errors?.['required']">
                                    <fa-icon [icon]="errorSign" title="Reqiured"></fa-icon>
                                </span>
                                <span *ngIf="signUpForm.controls['phoneNumber']?.errors?.['pattern']">
                                    <fa-icon [icon]="errorSign" title="It should formed from 10 numbers"></fa-icon>
                                </span>
                            </div>
                        </div>
                        <div class="mb-4 position-relative">
                            <input class="form-control rounded-5" type="text" formControlName="address" placeholder="Address">
                            <div id="emailHelp" class="form-text error-msg m-0" 
                            *ngIf="signUpForm.controls['address'].touched && signUpForm.controls['address'].invalid" >
                                <span *ngIf="signUpForm.controls['address']?.errors?.['required']">
                                    <fa-icon [icon]="errorSign" title="Reqiured"></fa-icon>
                                </span>
                            </div>
                        </div> -->
                        <div class="mb-4 position-relative">
                            <input class="form-control rounded-5" formControlName="password" [type]="isShown?'text':'password'" placeholder="Password">
                            <button class="btn position-absolute bottom-0 top-0" style="right:0" 
                            (click)="this.isShown =!this.isShown">
                                <fa-icon [icon]="isShown?faeye:faeyeslash"></fa-icon>
                            </button>
                            <div id="passwordHelp" class="form-text error-msg m-0"
                            *ngIf="signUpForm.controls['password'].touched && signUpForm.controls['password'].invalid" >
                                <span *ngIf="signUpForm.controls['password']?.errors?.['required']">
                                    <fa-icon [icon]="errorSign" title="Reqiured"></fa-icon>
                                </span>
                                <span *ngIf="signUpForm.controls['password']?.errors?.['pattern']">
                                    <fa-icon [icon]="errorSign" 
                                    title=" the password to contain [a-zA-z0-9!@#$] and be at least 8 characters">
                                    </fa-icon>
                                </span>
                                <span *ngIf="signUpForm.controls['password']?.errors?.['maxlength']">
                                    <fa-icon [icon]="errorSign" title="Its maximum length is 8"></fa-icon>
                                </span>
                            </div>
                        </div>
                        <div class="mb-4 position-relative">
                            <input class="form-control rounded-5" formControlName="confirmPassword" [type]="isShown2?'text':'password'" placeholder="Confirm Password">
                            <button class="btn position-absolute bottom-0 top-0" style="right:0" 
                            (click)="this.isShown2 =!this.isShown2">
                                <fa-icon [icon]="isShown2?faeye:faeyeslash"></fa-icon>
                            </button>
                            <div id="confirmPasswordwordHelp" class="form-text error-msg m-0" 
                            *ngIf="signUpForm.controls['confirmPassword'].touched && signUpForm.controls['confirmPassword'].invalid" >
                                <span *ngIf="signUpForm.controls['confirmPassword']?.errors?.['required']">
                                    <fa-icon [icon]="errorSign" title="required"></fa-icon>
                                </span>
                                <span *ngIf="signUpForm.controls['confirmPassword']?.errors?.['passwordMatch']">
                                    <fa-icon [icon]="errorSign" title="Not Matched"></fa-icon>
                                </span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button [disabled]="signUpForm.invalid" class="special-btn">Create</button>
                        </div>
                    </form>
                </div>
                <div class="col-xl-4 closed">
                    <div class="py-5 mt-5">
                        <p class="signQ">Already have account, so click on the button.</p>
                        <button class="special-btn signinbtn my-4" 
                        (click)="this.state == 'signup' ? this.state = 'signin' : this.state = 'signup'">Sign In
                            <fa-icon [icon]="faright"></fa-icon>
                            <fa-icon style="opacity: 0.5;" [icon]="faright"></fa-icon>
                        </button>
                        <div>
                            <img class="signin-img" src="../../../assets/Images/img1.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row rounded-4 overflow-hidden position-relative" id="signup-window">
                <div class="col-xl-4 closed">
                    <div class="py-5 mt-5">
                        <p class="signQ">Doesn’t have account, so register now.</p>
                        <button class="special-btn signinbtn my-4" 
                        (click)="this.state == 'signup' ? this.state = 'signin' : this.state = 'signup'">
                            <fa-icon [icon]="faleft"></fa-icon>
                            <fa-icon style="opacity: 0.5;" [icon]="faleft"></fa-icon>
                            Sign Up
                        </button>
                        <div>
                            <img class="signin-img" src="../../../assets/Images/img1.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 py-5 px-4">
                    <div class="title">
                        <h1 class="m-0">Sign In</h1>
                    </div>
                    <form [formGroup]="signInForm" (ngSubmit)="logIn()">
                        <div class="mb-4">
                            <input class="form-control rounded-5" formControlName="email" type="email" placeholder="Email">
                        </div>
                        <div class="mb-4 position-relative">
                            <input class="form-control rounded-5" formControlName="password" type="password" placeholder="Password">
                            <button class="btn position-absolute bottom-0 top-0" style="right:0">
                                <fa-icon [icon]="isShown?faeye:faeyeslash"></fa-icon>
                            </button>
                        </div>
                        <div class="form-check">
                            <input class="me-2" type="checkbox" value="" id="flexCheckIndeterminate">
                            <label class="form-check-label" for="flexCheckIndeterminate">
                                Remember me
                            </label>
                        </div>
                        <div class="mb-3">
                            <button class="special-btn">Login</button>
                        </div>
                        <a>Forget Password?</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>