<nav class="navbar navbar-expand-lg  align-items-center">
  <span class="navbar-brand" href="#">
    <img id="logo" src="../../assets/Images/Logo/logo.png">
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav w-100 justify-content-evenly">
      <li class="nav-item d-flex align-items-baseline">
        <span class="mx-3">
          <a class="nav-link" routerLink="/" routerLinkActive="active-link"  [routerLinkActiveOptions]="{ exact: true}">Home </a>
        </span>

        <span class="mx-3">
          <a class="nav-link" routerLink="/products" routerLinkActive="active-link">Products</a>
        </span>

        <span class="mx-3">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active-link">Contact</a>
        </span>

        <span class="mx-3">
          <a class="nav-link" routerLink="/blogs" routerLinkActive="active-link">Blogs</a>
        </span>
      </li>

      <li class="position-relative rounded-5 overflow-hidden w-50">
        <button class="btn position-absolute border-0 rounded-0 text-bg-dark bottom-0 top-0" style="right: 0;"><i class="fa-solid fa-magnifying-glass"></i></button>
        <input type="text" class="rounded-5 border-0 form-control w-100"  placeholder="Search">
      </li>

      <li class="d-flex align-items-baseline">
        <span class="mx-3">
          <a class="nav-link btn" (click)="changeMode()">
            <i class="fa-solid fa-circle-half-stroke"></i>
          </a>
        </span>
        <span class="mx-3">
          <a class="nav-link btn" routerLink="/login">
            <fa-icon [icon]="fauser"></fa-icon>
          </a>
        </span>
        <span class="mx-3 position-relative">
          <a class="nav-link btn" >
            <fa-icon [icon]="facart"></fa-icon>
          </a>
          <span class="text-white bg-danger position-absolute bottom-0 rounded-5 px-1" style="right: 0;font-size: 12px;">{{count}}</span>
        </span>
      </li>
    </ul>

  </div>
</nav>