<div class="d-flex flex-column flex-shrink-0 px-2 text-white sidebar">
    <ul class="nav nav-pills flex-column mb-auto text-center">
      <li> 
        <a href="/dashboard" title="dashboard"  class="nav-link text-white " routerLinkActive="active" [routerLink]="['dashboard']" aria-current="page">
          <fa-icon [icon]="chartPieIcon"> </fa-icon>
        </a>
      </li>
      <li>
        <a routerLinkActive="active" title="users"  [routerLink]="['users']" class="nav-link text-white">
          <fa-icon [icon]="userIcon"> </fa-icon>
        </a>
      </li>
      <li>
        <a routerLinkActive="active" title="mail"  [routerLink]="['mail']" class="nav-link text-white">
          <fa-icon [icon]="envlopeIcon"> </fa-icon>
        </a>
      </li>
      <li>
        <a routerLinkActive="active" title="furniture"  [routerLink]="['products']" class="nav-link px-1 text-white">
          <fa-icon [icon]="homeIcon1" class="me-1"> </fa-icon>
          <fa-icon [icon]="homeIcon2"> </fa-icon>
        </a>
      </li>
      <li>
        <a routerLinkActive="active" title="settings"  [routerLink]="['settings']" class="nav-link px-1 text-white">
          <i class="fa-solid fa-gear"></i>
        </a>
      </li>
    </ul>
  </div>                                                                                                                      
