<div class="container reset-password p-5">
    <div class="h-100 m-auto p-5 mb-3 box">
        <h1 class="text-center">Reset Password </h1>
        <p class="text-center">Enter your email address</p>
        <form [formGroup]="resetPasswordForm" (ngSubmit)='saveNewPassword()'>
            <div class="mb-4 position-relative">
                <input class="form-control " formControlName="password" [type]="isShown?'text':'password'"
                    placeholder="Password">
                <a class="btn position-absolute bottom-0 top-0" style="right:0"
                    (click)="this.isShown =!this.isShown">
                    <fa-icon [icon]="isShown?faeye:faeyeslash"></fa-icon>
                </a>
                <div id="passwordHelp" class="form-text error-msg m-0"
                    *ngIf="resetPasswordForm.controls['password'].touched && resetPasswordForm.controls['password'].invalid">
                    <span *ngIf="resetPasswordForm.controls['password']?.errors?.['required']">
                        <fa-icon [icon]="errorSign" title="Reqiured"></fa-icon>
                    </span>
                    <span *ngIf="resetPasswordForm.controls['password']?.errors?.['pattern']">
                        <fa-icon [icon]="errorSign"
                            title=" the password to contain [a-zA-z0-9!@#$] and be at least 8 characters">
                        </fa-icon>
                    </span>
                    <span *ngIf="resetPasswordForm.controls['password']?.errors?.['maxlength']">
                        <fa-icon [icon]="errorSign" title="Its maximum length is 8"></fa-icon>
                    </span>
                </div>
            </div>
            <div class="mb-4 position-relative">
                <input class="form-control " formControlName="confirmPassword"
                    [type]="isShown2?'text':'password'" placeholder="Confirm Password">
                <a class="btn position-absolute bottom-0 top-0" style="right:0"
                    (click)="this.isShown2 =!this.isShown2">
                    <fa-icon [icon]="isShown2?faeye:faeyeslash"></fa-icon>
                </a>
                <div id="confirmPasswordwordHelp" class="form-text error-msg m-0"
                    *ngIf="resetPasswordForm.controls['confirmPassword'].touched && resetPasswordForm.controls['confirmPassword'].invalid">
                    <span *ngIf="resetPasswordForm.controls['confirmPassword']?.errors?.['required']">
                        <fa-icon [icon]="errorSign" title="required"></fa-icon>
                    </span>
                    <span *ngIf="resetPasswordForm.controls['confirmPassword']?.errors?.['passwordMatch']">
                        <fa-icon [icon]="errorSign" title="Not Matched"></fa-icon>
                    </span>
                </div>
            </div>
            <div class="mb-3 m-auto" style="width: fit-content;">
                <button [disabled]="" class="special-btn btn">Submit</button>
            </div>
        </form>
    </div>
</div>