#bulb{
    /* width: 18%; */
    
    transition: all 0.5s;
}
 #cord{
    top: -30px;
    /* width: 8%;
    position: fixed;
    z-index: 100;
    
    right: 0; */
    /* position: absolute; */
    /* top:-1px; */
    transition: all 0.2s;
    cursor: pointer;
}
#cord:hover{
    top:0
} 