/* You can add global styles to this file, and also import other style files */
body
{
    min-height: 100vh;
    display: flex;
    /* width: 100%; */
}
main
{
    /* min-height: 55vh; */
    background-color: var(--mode);
    overflow: hidden;
}
img
{
    width: 100%;
}
:root{
    --fontcolor:white;
    --mode:black;
    --sliderwidth:-40px;
    --window-width:1536px;
}

