/* You can add global styles to this file, and also import other style files */
body
{
    min-height: 100vh;
    display: flex;
    background-color: var(--mode);
}
main
{
    min-height: 55vh;
    height: fit-content;
}
img
{
    width: 100%;
}
:root{
    --fontcolor:white;
    --mode:black;
    --sliderwidth:-40px;
    --window-width:1536px;
    --bordercolor:rgba(39, 39, 39, 0.137);
    --navbarcolor:rgb(33, 33, 33);
    --btncolor:#484848;
    --overlaycolor: linear-gradient(90deg, rgba(0, 0, 0, 0.44) 50%, rgba(0, 0, 0, 0.17) 50%);
    --headerbgColor:rgba(199, 250, 167, 0.64) 0%, rgba(190, 255, 150, 0.60) 44.89%, rgba(255, 255, 255, 0.68) 99.99%;
}

.special-btn{
    background: #2a2a29;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 20px;
    padding: 5px 10px;
    border: 0;
}
