<div class="container AddProductForm">
    <div>
        <h1 class="fw-light mt-3 mb-3 border-bottom">Add new Furniture</h1>
    </div>
    <div>
        <form method="post" [formGroup]="productForm" class="px-5 py-3" (ngSubmit)="CreateProduct()"
            enctype="multipart/form-data">
            <div class="d-flex justify-content-between">
                <!--Name-->
                <div class="mb-4 position-relative d-flex align-items-center w-50 ">
                    <label for="Name">Name</label>
                    <input class="form-control" type="text" id="Name" formControlName="name">
                    <div id="nameHelp" class="form-text error-msg m-0"
                        *ngIf="productForm.controls['name'].touched && productForm.controls['name'].invalid">

                        <span *ngIf="productForm.controls['name']?.errors?.['required']">
                            <fa-icon id="errorIcon" [icon]="errorIcon" title="Reqiured"></fa-icon>
                        </span>

                        <span
                            *ngIf="productForm.controls['name']?.errors?.['maxlength'] || productForm.controls['name']?.errors?.['minlength'] ">
                            <fa-icon id="errorIcon" [icon]="errorIcon" title="It should be between 5 and 14"></fa-icon>
                        </span>

                    </div>
                </div>

                <!--Category-->
                <div class="mb-4 position-relative d-flex align-items-center w-50">
                    <label>category</label>

                    <select title="category" class="form-select" formControlName="category">
                        <option selected disabled value="">--Select One From This Categories--</option>
                        <option *ngFor="let category of categories" [value]="category.name">{{category.name}}</option>
                    </select>

                    <div id="categoryHelp" class="form-text error-msg m-0"
                        *ngIf="productForm.controls['category'].invalid && productForm.controls['category'].touched">

                        <span *ngIf="productForm.controls['category'].errors?.['required']">
                            <fa-icon id="errorIcon" [icon]="errorIcon" title="Reqiured"></fa-icon>
                        </span>

                    </div>
                </div>

            </div>

            <div class="d-flex">

                <!--Price-->
                <div class="mb-4 position-relative d-flex align-items-center w-50">
                    <label for="Price">Price</label>
                    <input class="form-control" id="Price" type="number" formControlName="price">

                    <span class="position-absolute p-1" id="measure">EGP</span>

                    <div id="priceHelp" class="form-text = error-msg m-0"
                        *ngIf="productForm.controls['price'].touched && productForm.controls['price'].invalid">

                        <span *ngIf="productForm.controls['price'].errors?.['required']">
                            <fa-icon id="errorIcon" [icon]="errorIcon" title="Reqiured"></fa-icon>
                        </span>

                        <span *ngIf="productForm.controls['price'].errors?.['max']">
                            <fa-icon id="errorIcon" [icon]="errorIcon"
                                title="Price should not exceed 100,000"></fa-icon>
                        </span>

                    </div>


                </div>

                <!--Quantity-->
                <div class="mb-4 position-relative d-flex align-items-center w-25">
                    <label for="Quantity">Quantity</label>
                    <input class="form-control" id="Quantity" type="number" formControlName="quantity">

                    <span class="position-absolute p-1" id="measure">PC</span>

                    <div id="quantityHelp" class="form-text error-msg m-0"
                        *ngIf="productForm.controls['quantity'].touched && productForm.controls['quantity'].invalid">

                        <span *ngIf="productForm.controls['quantity'].errors?.['required']">
                            <fa-icon id="errorIcon" [icon]="errorIcon" title="Reqiured"></fa-icon>
                        </span>

                        <span *ngIf="productForm.controls['quantity'].errors?.['max']">
                            <fa-icon id="errorIcon" [icon]="errorIcon"
                                title="Maximum quantity should not exceed 1000"></fa-icon>
                        </span>

                    </div>

                </div>

                <!--Offer-->
                <div class="mb-4 position-relative d-flex align-items-center w-25">
                    <label for="">Offer</label>
                    <input title="offer" class="form-control" id="" type="number" formControlName="offer" step="0.1">

                    <span class="position-absolute p-1" id="measure">%</span>

                    <div id="offerHelp" class="form-text error-msg m-0"
                        *ngIf="productForm.controls['offer'].touched && productForm.controls['offer'].invalid">

                        <span *ngIf="productForm.controls['offer'].errors?.['required']">
                            <fa-icon id="errorIcon" [icon]="errorIcon" title="Reqiured"></fa-icon>
                        </span>

                        <span *ngIf="productForm.controls['offer'].errors?.['max']">
                            <fa-icon id="errorIcon" [icon]="errorIcon"
                                title="Maximum sale should not exceed 100"></fa-icon>
                        </span>

                    </div>

                </div>

            </div>

            <div class="d-flex justify-content-end">

                <!--Image-->
                <div class="mb-4 position-relative col-8">

                    <app-upload-area [isMultiple]="true" (newItemEvent)="addItem($event)"></app-upload-area>

                </div>

                <!--Colors-->
                <div class="col-3 d-flex justify-content-evenly align-items-center position-relative flex-column">
                    <div class="mb-2 selection-area d-flex">
                        <input title="color" type="color" id="draggable colors" draggable="true" (dragstart)="dragFun($event)"
                            formControlName="colors">

                    </div>
                    <div id="colorsHelp" class="form-text error-msg m-0">

                        <span *ngIf="productForm.controls['colors'].touched && selectedColors.length == 0">
                            <fa-icon id="errorIcon" [icon]="errorIcon" title="Reqiured"></fa-icon>
                        </span>

                    </div>
                    <div class="mb-4 d-flex Box" (dragover)="myDrop($event)" (drop)="dropMe($event)">

                    </div>
                </div>

            </div>
            <!--Details-->
            <div class="mb-4 position-relative d-flex">
                <label for="Details">details</label>
                <textarea id="Details" class="form-control" formControlName="details" (keydown)="countChars()"></textarea>
                
                <span class="position-absolute fw-bold number-of-chars">{{charCount}}/250</span>
                
                <div id="nameHelp" class="form-text error-msg m-0"
                    *ngIf="productForm.controls['details'].touched && productForm.controls['details'].invalid">

                    <span *ngIf="productForm.controls['details'].errors?.['required']">
                        <fa-icon id="errorIcon" [icon]="errorIcon" title="Reqiured"></fa-icon>
                    </span>

                </div>
            </div>
            <button type="submit" [disabled]="productForm.invalid" class="btn submit-btn d-block m-auto">Add</button>
        </form>
    </div>
</div>