<footer class="p-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="about">
                    <div class="heading">
                        <h4>About</h4>
                    </div>
                    <ul>
                        <li><fa-icon [icon]="fahand"></fa-icon> Totally interested in cleanliness</li>
                        <li><fa-icon [icon]="faclock"></fa-icon> Available 24 hours a day</li>
                        <li><fa-icon [icon]="fatimer"></fa-icon> On time delivery</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="social-media">
                    <div class="heading">
                        <h4>Contact</h4>
                    </div>
                    <div class="social-links">
                        <a href=""><fa-icon [icon]="fainstgram"></fa-icon></a>
                        <a href=""><fa-icon [icon]="fafacebook"></fa-icon></a>
                        <a href=""><fa-icon [icon]="fatwitter"></fa-icon></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="support">
                    <div class="heading">
                        <h4>Support</h4>
                    </div>
                    <ul>
                        <li><fa-icon [icon]="faarrow"></fa-icon><a href=""> How to cancle order?</a></li>
                        <li><fa-icon [icon]="faarrow"></fa-icon><a href=""> How to make order?</a></li>
                        <li><fa-icon [icon]="faarrow"></fa-icon><a href=""> How to cancle order?</a></li>
                    </ul>
                </div>
            </div>

            <div class="copyright col-lg-12 text-left pt-3 mt-2">
                Copyright ©<span id="date"></span> All rights reserved | This template is made with <a href="">DG</a>
            </div>
        </div>
    </div>
</footer>