<footer class="p-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="about">
                    <div class="heading">
                        <h4>About</h4>
                    </div>
                    <ul>
                        <li><fa-icon [icon]="fahand"></fa-icon> Totally interested in cleanliness</li>
                        <li><fa-icon [icon]="faclock"></fa-icon> Available 24 hours a day</li>
                        <li><fa-icon [icon]="fatimer"></fa-icon> On time delivery</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="social-media">
                    <div class="heading">
                        <h4>Contact</h4>
                    </div>
                    <div class="social-links">
                        <a href=""><fa-icon [icon]="fainstgram"></fa-icon></a>
                        <a href=""><fa-icon [icon]="fafacebook"></fa-icon></a>
                        <a href=""><fa-icon [icon]="fatwitter"></fa-icon></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="support">
                    <div class="heading">
                        <h4>Support</h4>
                    </div>
                    <ul>
                        <li><fa-icon [icon]="faarrow"></fa-icon><a href=""> How to cancle order?</a></li>
                        <li><fa-icon [icon]="faarrow"></fa-icon><a href=""> How to make order?</a></li>
                        <li><fa-icon [icon]="faarrow"></fa-icon><a href=""> How to cancle order?</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-3 col-sm-12">
                <div class="google-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13818.508382520897!2d31.251179599999997!3d30.0188622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458474aefef8513%3A0x57026e1b86877bcf!2z2YXYp9mD2K_ZiNmG2KfZhNiv2LI!5e0!3m2!1sar!2seg!4v1668192098992!5m2!1sar!2seg" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="copyright col-lg-12 text-left border-top pt-3 mt-2">
                Copyright ©<span id="date"></span> All rights reserved | This template is made with <a href="">DG</a>
            </div>
        </div>
    </div>
</footer>